.container {
  display: flex;
  flex-direction: column;
  padding: 0;
  font-family: 'Tahoma', 'Courier', sans-serif;
  color: whitesmoke;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  flex-grow: 1;
  align-items: center;
  justify-content: space-evenly;
}

.source {
  margin: 0 2rem;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .ongoing {
    border-color: greenyellow;
  }

  .ended {
    border-color: orangered;
  }
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 2rem;
  border-radius: 1rem;
  padding: 1rem;
  border-style: solid;
  max-width: 500px;
  min-height: 300px;
  max-height: 500px;

  .title {
    font-size: x-large;
    font-weight: bold;
    margin: 1rem;
  }

  .source {
    font-size: larger;
    margin-bottom: 1rem;
    text-decoration: underline;
    font-style: italic;
    color: gray;
  }

  .preview {
    margin: 1rem;
  }
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1rem 2rem;
}

.skill {
  font-family: 'Courier New', Courier, monospace;
  border-radius: 1rem;
  padding: 1rem;
  border-style: solid;
  text-align: center;
}

.skill:hover,
.skill:active {
  border-color: greenyellow;
  color: limegreen;
}

.title {
  @media (min-width: 768px) {
    font-size: 5rem;
  }

  font-size: 2rem;
  margin: 0;
  text-align: center;
}

.title:active,
.title:hover {
  color: green;
}

.subtitle {
  @media (min-width: 768px) {
    font-size: 2rem;
  }

  margin: 0;
  margin-bottom: 2rem;
  text-align: center;
  color: rgb(184, 184, 184);
}

.description {
  font-size: 1.25rem;
  text-align: center;
  color: rgb(197, 197, 197);
  margin: 2rem 0;
}

.contact {
  display: flex;
  flex-direction: row;
  display: inline-block;

  .discord,
  .github,
  .twitter {
    margin: 0 2rem;
    display: inline;
    text-align: center;
    font-size: xx-large;
  }
}

.hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: limegreen;
  height: 3px;
  margin-bottom: 1rem;
}